.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #021679; 
    padding: 10px;
    border-bottom: 2px solid #ddd;
  }
  
  .header-left,
  .header-right {
    text-align: center;
  }
  
  .header-center {
    display: flex;
    justify-content: center;
  }
  
  .header-logo {
    width: 100px; 
  }
  
  .header-left p,
  .header-right p {
    font-size: 1.2rem;
    color: #333; 
  }

  .header-center img {
    width: 200px; 
    height: auto;
  }
  